# Ignore dataset folders
train/
test/

# Ignore big model files
*.pth
*.pt
*.h5
*.pkl

# ALLOW ONLY THESE:
!nutrition.csv
!.gitignore
!requirements.txt
!app.py
!model_utils.py

# Ignore Jupyter / temp files
*.ipynb
__pycache__/
*.pyc
